@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --font-family: 'Poppins', sans-serif;
    --body-background: #f4f4f4;
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --text-dark-color: #343a40;
    --text-light-color: #ffffff;
    --border-color: #ced4da;
    --background-color: #f8f9fa;
    --hover-color: #0056b3;
    --icon-color: #000;
}




   body {
    background-color: var(--body-background);
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
  }

  /* LoginPage */
  .login-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--body-background);
  }
  
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    box-shadow: 10px;
  }
  
  .login-box {
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  .login-box h2 {
    margin-bottom: 10px;
    color: var(--primary-color);
    font-weight: bold;
    margin-top: 20px;
  }
  
  .login-box p {
    margin-bottom: 20px;
    color: var(--secondary-color);
  }
  
  .login-form {
    text-align: left;
  }
  
  .form-group {
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 5px;
    color: var(--text-dark-color);
  }
  
  .input-container {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .input-container .icon {
    position: absolute;
    left: 10px;
    font-size: var(--content-font-size);
    color: #888;
  }
  
  .input-container .info-icon {
    position: absolute;
    right: 10px;
    font-size: 18px;
    color: #f00;
  }
  
  .input-container.error input {
    border: 1px solid #f00;
  }
  
  .form-group.error {
    margin-bottom: 5px;
  }
  
  .error-message {
    color: #f00;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  
  input[type="email"],
  input[type="password"] {
    padding: 7px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    transition: all 0.2s ease-in-out;
    color: var(--text-dark-color);
  }
  
  input[type="email"]:focus,
  input[type="password"]:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    outline: none;
  }
  
  input[type="email"]::placeholder,
  input[type="password"]::placeholder {
    color: var(--secondary-color);
  }
  
  .remember-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .remember-me {
    display: flex;
    align-items: center;
  }
  
  .remember-me input {
    margin-right: 5px;
  }
  
  .remember-me label {
    font-size: 16px;
    color: var(--text-dark-color);
  }
  
  .forgot-password-link {
    font-size: 14px;
    color: var(--primary-color);
    text-decoration: none;
  }
  
  .forgot-password-link:hover {
    text-decoration: underline;
  }
  
  button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: var(--primary-color);
    color: var(--text-light-color);
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: var(--hover-color);
  }
  
 /* Sidebar.css */
.sidebar { 
  width: 200px;
  background-color: #333;
  color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 20px;
  transition: width 0.5s;
}

.sidebar.open {
  width: 40px;
}

.sidebar.open .toggle-button {
  background: none;
  border: none;
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.sidebar .toggle-button {
  background: none;
  border: none;
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: flex;
  justify-content: start;
  margin-left: 5px;
}

.sidebar .sidebar-content {
  margin-top: 20px;
}

.sidebar.open .sidebar-item {
  margin: 10px 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  font-size: 18px;
  padding: 10px 0px;
}

.sidebar .sidebar-item {
  margin: 10px 0;
  cursor: pointer;
  font-size: 18px;
  padding: 10px 0px;
}


@media (max-width: 768px) {
  .sidebar {
    width: 190px;
    z-index: 999;
    position: absolute;
    top: 0;          
    left: 0;
    height: 100vh;
  }
  
  .sidebar.open {
    width: 40px;
  }
}


/* TopBar.css */
.topbar {
display: flex;
justify-content: space-between;
align-items: center;
padding: 15px 20px;
background-color: #444;
color: #fff;
}

.profile {
cursor: pointer;
}

@media (max-width: 768px) {
  .topbar {
   margin-left: 80px;

  }
  
}


/* Layout.css */
.layout {
  display: flex;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

/* Dashboard.css */
.dashboard {
padding: 18px;
background-color: #f4f4f4;
flex-grow: 1;
}

.dashboard h3 {
font-size: 20px;
margin-bottom: 20px;
color: var(--primary-color);
}

.dashboard-widgets {
display: flex;
gap: 20px;
flex-wrap: wrap;
}

.widget {
background-color: #fff;
padding: 20px;
border-radius: 8px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
width: calc(33.333% - 20px);
min-width: 200px;
}

.widget h3 {
font-size: 18px;
margin-bottom: 10px;
color: #444;
}

.widget p {
font-size: 14px;
color: #666;
}

@media (max-width: 768px) {
  .dashboard {
   margin-left: 80px;
  }
  
}
